html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav {
    height: 10vh;
    background: #24292e;
    display: flex;
    padding: 0 30px;
}

.top-left {
    display: flex;
    align-items: center;
    width: 50%;
}


.dark-icon {
    color: #fff;
    cursor: pointer;
}

.dark-icon:hover {
    color: #e1e4e8;
}

.search-input {
    display: flex;
    position: relative;
    margin: 0 15px;
}

input.top-input[type="text"] {
    background: #24292e;
    outline: none;
    border: #45464a 1px solid;
    border-radius: 6px;
    padding: 7px 100px 7px 10px;
}

input.top-input[type="text"]::placeholder {
    font-size: 13px;
    color: #c9cbcd;
}

input.top-btn[type="button"] {
    background: #24292e;
    outline: none;
    border: #45464a 1px solid;
    border-radius: 5px;
    padding: 2px 7px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #83868a;
}


ul.options {
    display: flex;
    list-style: none;
    color: #fff;
    padding-inline-start: 0;
    margin-block-end: 0;
}

ul.options li {
    padding-right: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 13px;
    
}

ul.options li:hover {
    color: #ced1d3;
}

.top-right {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.icon {
    align-self: center;
}

.icons {
    color: #fff;
}

.icons:hover {
    color: #7f8385;
}

.notifications {
    margin-right: 20px;
    cursor: pointer;
    height: 25px;
}

.user-options {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
    height: 25px;
}



.plus {
    margin-right: 3px;
}

.user-profile {
    display: flex;
    cursor: pointer;
}

.profile-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 6px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.repo-sect hr {
    border-color: #d9d9de;
    height: 1px;
    border-top: 1px;
    margin-top: -1px;
}

.select {
    position: relative;
    height: 12vh;
}


.select-options {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.select-class, .focus {
    display: flex;
    padding: 0 20px 20px;
    position: relative;
    cursor: pointer;
    justify-content: center;
}

.select-class:after, .focus:after {
    content: "";
    width: 100%;
    height: 2px;
    background: transparent;
    position: absolute;
    bottom: 0;
}


 
.select-class:hover:after {
    background: #d3d0d0;
    transition: all 0.3s ease;
}

.focus:after {
    background: rgb(230, 109, 109);
}



.select-icon {
    margin-right: 10px;
    color: #bcb3b3;
    padding: 3px 0;

}

.repo-icon {
    margin-right: 10px;
    padding: 3px 0;

}

.repo {
    margin-right: 7px;
    font-weight: bold;
}

.repo-num {
    font-size: 12px;
    border: transparent 1px solid;
    background: #e8e5e5;
    padding: 3px 10px;
    border-radius: 20px;
}

.select-label {
    font-size: 14px;
    color: #383939;
    padding: 3px 0;

}

main {
    display: flex;
    padding: 0 60px;
}

.left-main {
    width: 24%;
    transform: translateY(-12%);
    padding: 10px 0;
}

.main-img {
    width: 90%;
    height: 42vh;
}

.main-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.main-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    background: #fff;
    border: #cfd0d2 1px solid;
    right: 10%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-main {
    color: #747070;
}

.right-main {
    width: 80%;
}

.main-name h2 {
    font-weight: bold;
    color: rgb(50, 50, 50);
}

.main-username {
    color: rgb(114, 109, 109);
    font-size: 16px;
}

.main-description {
    color: rgb(50, 50, 50);
    line-height: 25px;
    max-width: 80%;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}


.find-search input {
    width: 97%;
    outline: none;
    padding: 8px 12px;
    border: #dcd7d7 1px solid;
    border-radius: 6px;
    margin: 10px 0;
}

.right-main hr {
    border-color: #d9d9de;
    height: 1px;
    border-top: 1px;
}

.main-content {
     display: flex;
     padding: 20px 0;
}

.content-left {
    width: 80%;
}


.repo-name {
    font-size: 20px;
    color: blue;
    cursor: pointer;
    
}

.repo-name:hover {
    text-decoration: underline;
}

.repo-description {
    font-size: 15px;
    color: #6a6666;
    margin: 10px 0;
}

.repo-data, .disp {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.disp {
    margin-right: 20px;
}

.color {
    border-radius: 50%;
    border: transparent 1px solid;
    background: rgb(237, 237, 12);
    width: 10px;
    height: 10px;
}

.text {
    font-size: 12px;
    color: #6a6666;
}

 .before {
     margin-right: 5px;
 }

 .main-icons {
    color: #6a6666;
 }

 .content-right {
    width: 20%;
    display: flex;
    align-items: start;
    justify-content: flex-end;
}

 .star-container {
    padding: 5px 14px;
    border: #dcd7d7 1px solid;
    border-radius: 6px;
    background: #f9f4f4;
    display: flex;
    align-items: center;
    cursor: pointer;
 }


.star-container:hover {
    background: #f2eeee;
    transition: all 0.3s ease;
}

 .star {
    font-size: 12px;
    color: rgb(50, 50, 50);
 }

 

 .footer-container {
     display: flex;
     align-items: center;
     /* position: absolute; */
     bottom: 0;
     width: 100%;
     height: 15vh;
     padding-bottom: 20px;
 }

 .footer-left {
    width: 35%;
}


 .footer-right {
    margin-right: 60px;
    width: 45%;
 }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 

 a {
    list-style: none;
    font-size: 12px;
    color: #3a8fc7;
    cursor: pointer;
 }

 a:hover {
     text-decoration: underline;
 }

 .footer-center {
     width: 10%;
     display: flex;
     justify-content: center;
 }

 .copyright {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #6a6666;
    margin-left: 60px;
    width: 10%;

 }

 .copy-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
 }

 .git-con {
     color: #c4c4c4;
 }

 .footer-cont hr {
    border-color: #d9d9de;
    height: 1px;
    border-top: 1px;
    margin: 0 60px;
}

 

















































































































