html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav {
    display: flex;
    align-items: center;
    height: 10vh;
    background: #24292e;
    display: flex;
    padding: 0 30px;
}

.menu-mobile {
    display: none;
}

.top-left {
    display: flex;
    align-items: center;
    width: 90%;
}


.dark-icon {
    color: #fff;
    cursor: pointer;
}

.dark-icon:hover {
    color: #e1e4e8;
}

.search-input {
    display: flex;
    position: relative;
    margin: 0 15px;
}


input.top-input[type="text"] {
    background: #24292e;
    outline: none;
    border: #45464a 1px solid;
    border-radius: 6px;
    padding: 7px 100px 7px 10px;
    color: #c9cbcd;
    font-size: 13px;
    display: block;
}



input.top-input[type="text"]::placeholder {
    font-size: 13px;
    color: #c9cbcd;
}

input.top-input[type="text"]:focus {
    border-color: #3a8fc7;
    background: #303235;
    padding-right: 280px;
    transition: all 0.3s ease;
}

input.top-btn[type="button"] {
    background: #24292e;
    outline: none;
    border: #45464a 1px solid;
    border-radius: 5px;
    padding: 2px 7px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #83868a;
}


ul.options {
    display: flex;
    list-style: none;
    color: #fff;
    padding-inline-start: 0;
    margin-block-end: 0;
}

ul.options li {
    padding-right: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 13px;
    
}

ul.options li:hover {
    color: #ced1d3;
}

.top-right {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: flex-end;
}

.icon {
    align-self: center;
}

.icons {
    color: #fff;
}

.icons:hover {
    color: #7f8385;
}

.notifications {
    margin-right: 20px;
    cursor: pointer;
    height: 25px;
}

.user-options {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
    height: 25px;
}



.plus {
    margin-right: 3px;
}

.user-profile {
    display: flex;
    cursor: pointer;
}

.profile-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 6px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.repo-sect-desktop {
    position: sticky;
    top: 0;
    background-color: white;
}

.repo-sect-desktop hr {
    border-color: #d9d9de;
    height: 1px;
    border-top: 1px;
    margin-top: -1px;
    z-index: 1;

}

.select {
    position: relative;
    height: 12vh;
}


.select-options {
    display: flex;
    align-items: center;
    position: absolute;
    left: 45%;
    bottom: 0;
    transform: translateX(-45%);
}

.select-class, .focus {
    display: flex;
    padding: 0 20px 20px;
    position: relative;
    cursor: pointer;
    justify-content: center;
}

.select-class:after, .focus:after {
    content: "";
    width: 100%;
    height: 2px;
    background: transparent;
    position: absolute;
    bottom: 0;
}


 
.select-class:hover:after {
    background: #d3d0d0;
    transition: all 0.3s ease;
}

.focus:after {
    background: rgb(230, 109, 109);
}



.select-icon {
    margin-right: 10px;
    color: #bcb3b3;
    padding: 3px 0;

}

.repo-icon {
    margin-right: 10px;
    padding: 3px 0;

}

.repo {
    margin-right: 7px;
    font-weight: bold;
}

.repo-num {
    font-size: 12px;
    border: transparent 1px solid;
    background: #e8e5e5;
    padding: 3px 10px;
    border-radius: 20px;
}

.select-label {
    font-size: 14px;
    color: #383939;
    padding: 3px 0;

}

.new-div {
    display: block;
}

main {
    display: flex;
    padding: 0 60px;
}

.left-main {
    width: 24%;
    z-index: 5;
    margin-top: -5%;
    padding: 10px 0;
}

.main-img {
    width: 90%;
    height: 42vh;
}

.main-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.main-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    background: #fff;
    border: #cfd0d2 1px solid;
    left:21%;
    top: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-main {
    color: #747070;
}

.right-main {
    width: 80%;
   
}

.main-name h2 {
    font-weight: bold;
    color: rgb(50, 50, 50);
}

.main-username {
    color: rgb(114, 109, 109);
    font-size: 16px;
}

.main-description {
    color: rgb(50, 50, 50);
    line-height: 25px;
    max-width: 80%;
    width: 100%;
    font-size: 15px;
}

.update {
    display: flex;
    padding-top: 5px;
}

.find-search input {
    width: 97%;
    outline: none;
    padding: 8px 12px;
    border: #dcd7d7 1px solid;
    border-radius: 6px;
    margin: 10px 0;
    color: #6a6666;
}

.right-main hr {
    border-color: #d9d9de;
    height: 1px;
    border-top: 1px;
    
}

.main-content {
     display: flex;
     padding: 20px 0;
}

.content-left {
    max-width: 80%;
    width: 80%;
}


.repo-name a {
    font-size: 20px;
    color: rgb(77, 77, 240);
    cursor: pointer;
    text-decoration: none;
}

.repo-name:hover {
    text-decoration: underline;
}

.repo-description {
    font-size: 15px;
    color: #6a6666;
    margin: 10px 0;
}

.repo-data, .disp {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.disp {
    margin-right: 20px;
}

.color {
    border-radius: 50%;
    border: transparent 1px solid;
    width: 10px;
    height: 10px;
}

.text {
    font-size: 12px;
    color: #6a6666;
}

 .before {
     margin-right: 5px;
 }

 .main-icons {
    color: #6a6666;
 }

 .content-right {
    width: 100%;
    max-width: 20%;
    display: flex;
    align-items: start;
    justify-content: flex-end;
}

 .star-container {
    padding: 5px 14px;
    border: #dcd7d7 1px solid;
    border-radius: 6px;
    background: #f9f4f4;
    display: flex;
    align-items: center;
    cursor: pointer;
 }


.star-container:hover {
    background: #f2eeee;
    transition: all 0.3s ease;
}

 .star {
    font-size: 12px;
    color: rgb(50, 50, 50);
 }

 .buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 60px;
 }

 .previous {
    border: #dcd7d7 1px solid;
    border-radius: 6px;
    font-size: 14px;
    padding: 7px 15px;
    color: #3a8fc7;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    opacity: 0.6;
 }

 .next {
    border: #dcd7d7 1px solid;
    border-radius: 6px;
    font-size: 14px;
    padding: 7px 15px;
    color: #3a8fc7;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    cursor: pointer;
 }

 .next:hover {
    background: #3a8fc7;
    color: #fff;
    transition: all 0.4s ease;
 }
 

 .footer-container {
     display: flex;
     align-items: center;
     bottom: 0;
     width: 100%;
     height: 15vh;
     padding-bottom: 20px;
 }

 .footer-left {
    width: 80%;
}


 .footer-right {
    margin-right: 60px;
    width: 45%;
 }

 .foot-cont {
    display: flex;
    width: 45%;
    margin-left: 60px;
    justify-content: space-evenly;
}

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 

 a {
    list-style: none;
    font-size: 12px;
    color: #3a8fc7;
    cursor: pointer;
 }

 a:hover {
     text-decoration: underline;
 }

 .footer-center {
     width: 10%;
     display: flex;
     justify-content: center;
 }

 .copyright {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #6a6666;
    width: 20%;
    margin-right: 10px;

 }

 

 .copy-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
 }

 .git-con {
     color: #c4c4c4;
 }

 .footer-cont hr {
    border-color: #d9d9de;
    height: 1px;
    border-top: 1px;
    margin: 0 60px;
   
}

.hamburger, .repo-sect-mobile {
    display: none;
}

.pull-t {
    display: none;
}

.pull-d {
    display: flex;
}



@media only screen and (max-width: 600px) {

    .search-input, .user-options, .user-profile, ul.options, .repo-sect-desktop, .main-icon, .footer-center {
        display: none;
    }

    .nav {
        padding: 0 20px;
    }

   .notifications {
       align-items: center;
       height: inherit;
       margin-right: 0;
   }

   .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 45%;
}

.select-icon, .repo-icon {
    display: none !important;
}

.line {
    background: #c4c4c4;
    height: 2px;
    width: 20px;
    border-radius: 10px;
}



.top-left {
    justify-content: space-between;
    width: 10%;
}

.top-right {
    width: 45%;
}


.line-center {
    margin: 5px 0;
}

main {
    flex-direction: column;
    padding: 0 20px;
}

.left-main, .right-main {
    width: 100%;
}

.main-img {
    width: 80px;
    height: 80px;
}

.left-main {
    margin-top: 0;
    padding: 10px 0;
}

.main-mobile {
    display: flex;
}

.names {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-name h2 {
    margin: 0;
}

.main-description {
    max-width: 100%;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}

.repo-sect-mobile, .footer-container {
    display: flex;
    flex-direction: column;
}

.repo-sect-mobile {
position: sticky;
top: 0;
background-color: white;
}

.repo-sect-mobile hr {
    border-color: #d9d9de;
    height: 1px;
    border-top: 1px;
    margin-top: -1px;
    width:100%;
    appearance: none:
    -moz-appearance: none;
    -webkit-appearance: none;
}



.disp {
    margin-right: 0;
}

.text {
    font-size: 11px;
}


.select-options {
    justify-content: space-evenly;
    left: 0;
    right: 0;
    transform: translateX(0);
    
}

.select-class {
    padding-right: 10px;
    padding: 0;
    padding-bottom: 10px;
}

.focus {
    padding: 0;
     padding-bottom: 10px;
}

.select-label {
    font-size: 12px;
}

.find-search input {
    width: 93%;
}

.repo-name {
    font-weight: 600;
    font-size: 16px;
    max-width: 100%;
    width: 100%;

}


.repo-data {
    max-width: 100%;
    width: 100%;
}

.repo-data, .disp {
    justify-content: space-between;

}

.copy-text, .links {
    font-size: 11px;
}

.repo-description {
    font-size: 13px;
    max-width: 75%;
    width: 100%;
    line-height: 20px;
}

.content-right {
    align-items: center;
    justify-content: flex-end;
}

.footer-cont hr {
    margin: 0 20px;
}

 .footer-right, .foot-cont {
    max-width: 100%;
    width: 80%;
    margin: 0;
}

.footer-right {
    width: 70%;
}

.footer-left {
    width: 65%;
}

.copyright {
    width: 35%;
}

.foot-cont {
    margin-top: 10%;
    margin-bottom: 3%;
}

.menu-mobile {
    display: none;
    height: 72vh;
    z-index: 100;
    color: #fff;
    background: #24292e;
    padding: 30px 20px;
    padding-top: 0;
}

.active {
    display: block;
}

.mobile {
    position: relative;
}

input.input-resp[type="text"] {
    background: #24292e;
    outline: none;
    border: #45464a 1px solid;
    border-radius: 6px;
    padding: 7px 0;
    padding-left: 10px;
    max-width: 96%;
    width: 100%;
    color: #c9cbcd;
    font-size: 13px;
    display: block;
}

input.input-respbutton[type="button"] {
    background: #24292e;
    outline: none;
    border: #45464a 1px solid;
    border-radius: 5px;
    padding: 2px 7px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #83868a;
}

input.input-resp[type="text"]:focus {
    background: #303235;
    border-color: #3a8fc7;
}

input.input-resp[type="text"]::placeholder {
    font-size: 13px;
    color: #c9cbcd;
}

.mobile-options {
    color: #e8ebed;
    font-size: 14px;
    padding: 10px 0;
}

.mob-profile {
    display: flex;
    align-items: center;
}

.dash {
    margin-top: 15px;
    border-top: #45464a 1px solid;
}

.border {
    border-bottom: #45464a 1px solid;
    border-radius: 0;
}

.sign-icon {
    color: #e8ebed;
    margin-right: 6px;
}

}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .pull-d, .main-icon, .footer-center {
        display: none;
    }

    .pull-t {
        display: flex;
    }

    .select-options {
        transform: translateX(-70%);
        left: 70%;
    }

    .select-class, .focus {
        padding: 0 10px 20px;
    }

    input.top-input[type="text"]:focus {
        padding-right: 105px;
    }

    
main {
    display: flex;
    padding: 0 30px;
}

    .main-img {
        width: 90%;
        height: 30vh;
    }

       .footer-cont hr {
        margin: 0;
    }

    .main-name h2 {
        margin-bottom: 0;
    }

    .main-description {
        max-width: 90%;
        width: 100%;
        margin-top: 10%;
    }

    .footer-container {
         flex-direction: column;
    }

    .foot-cont {
        max-width: 50%;
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .footer-left {
        width: 65%;
    }

    .copyright {
        width: 35%;
    }
    
    
     .footer-right {
        margin-right: 0;
        max-width: 40%;
        width: 100%;
     }

     
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .main-icon {
        display: none;
    }

    .select-options {
        transform: translateX(-60%);
        left: 60%;
    }
    
    main {
        display: flex;
        padding: 0 30px;
    }
    
        .main-img {
            width: 90%;
            height: 30vh;
        }
    
        .main-name h2 {
            margin-bottom: 0;
        }

        .main-description {
            max-width: 90%;
            width: 100%;
            margin-top: 10%;
        }

   
       .foot-cont {
           max-width: 40%;
           width: 100%;
           margin-left: 30px;
       }
   
       .footer-left {
           width: 65%;
       }
   
       .copyright {
           width: 35%;
       }

       .footer-center {
           width: 20%;
       }

       
       .footer-cont hr {
        margin: 30px;
    }
       
        .footer-right {
           margin-right: 30px;
           max-width: 40%;
           width: 100%;
        }

}
















































































































